<div class="row">
    <div class="col-3"></div>
    <div class="col-6" style="border:3px solid black ;">
        <div>
            <form action="">
                <div class="col-md-6">
                <label for="validationserver01" class="form-label">Product ID</label>
                <input type="text" name="id" formControlName="id" class="form-control" id="validationserver01" required>
                </div>
                <div class="col-md-6">
                <label for="validationserver02" class="form-label">Product Name</label>
                <input type="text" name="Name" formControlName="Name" class="form-control" id="validationserver02" required>
                </div>
                <div class="col-md-6">
                <label for="validationserver03" class="form-label">Product Description</label>
                <input type="text" name="Description" formControlName="Description" class="form-control" id="validationserver03" required>
                </div>
                <div class="col-md-6">
                <label for="validationserver04" class="form-label">Product Rating</label>
                <input type="text" name="Rating" formControlName="Rating" class="form-control" id="validationserver04" required>
                </div>
                <div class="col-md-6">
                <label for="validationserver05" class="form-label">Product Price</label>
                <input type="text" name="Price" formControlName="Price" class="form-control" id="validationserver05" required>
                </div>
                <div class="col-md-6">
                <label for="validationserver06" class="form-label">Product Warranty</label>
                <input type="text" name="Warranty" formControlName="Warranty" class="form-control" id="validationserver06" required>
                </div>
                <div class="col-md-6">
                <label for="validationserver07" class="form-label">Product Review</label>
                <input type="text" name="Review" formControlName="Review" class="form-control" id="validationserver07" required>
                </div>
                <div class="col-md-6">
                <label for="validationserver08" class="form-label">Product Vendor Name</label>
                <input type="text" name="Vendor" formControlName="Vendor" class="form-control" id="validationserver08" required>
                </div>
                <div class="col-md-6">
                <label for="validationserver09" class="form-label">Product Category</label>
                <input type="text" name="Category" formControlName="Category" class="form-control" id="validationserver09" required>
                </div>
                <div class="col-md-6">
                <label for="validationserver10" class="form-label">Product Availablity</label>
                <input type="text" name="Availablity" formControlName="Availablity" class="form-control" id="validationserver10" required>
                </div>
                <div class="col-md-6">
                <label for="validationserver11" class="form-label">Product Image</label>
                <input type="text" name="Image" formControlName="Image" class="form-control" id="validationserver11" required>
                </div>
                <div style="margin: 25px ;">
                    <button style="text-align:centre ;" class="btn btn-primary" type="submit">Submit Form</button>
                </div>
            </form>
        </div>
    </div>
</div>